/* src/index.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #333;
  margin: 0;
}

.container {
  width: 90%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}

h1 {
  color: #4a90e2;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

.form-section,
.result-section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
select,
textarea,
button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px ;
  font-size: 14px;
}

button {
  background-color: #4a90e2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #357abd;
}

p {
  font-size: 16px;
}
